POSTGRES_USER=postgres
POSTGRES_PASSWORD=change_me
POSTGRES_DB=vn_folk

PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=change_me

NODE_ENV=development
PORT=3000

DB_USER=postgres
DB_HOST=db
DB_DATABASE=vn_folk
DB_PASSWORD=change_me
DB_PORT=5432

JWT_SECRET=change_me
JWT_EXPIRATION_TIME=86400

EMAIL_USER=noreply@example.com
EMAIL_PASS=change_me

SENDGRID_API_KEY=change_me
SENDGRID_FROM_EMAIL=noreply@example.com

DATABASE_URL=postgresql://postgres:change_me@db:5432/vn_folk

GF_SECURITY_ADMIN_USER=admin
GF_SECURITY_ADMIN_PASSWORD=change_me
