name: Node.js CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18.x, 20.x, 22.x]

    steps:
    - uses: actions/checkout@v4
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'

    - name: Install dependencies
      run: npm install

    - name: Set up environment variables
      env:
        DATABASE_URL: ${{ secrets.DATABASE_URL }}
      run: echo "Environment variable DATABASE_URL has been set."

    - name: Build project
      run: npm run build --if-present

    #- name: Run tests
    #  run: npm test

